doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
  body
    block content
    block scripts
      script(src="/javascripts/validacion.js")
      script(src="/javascripts/bootstrapjs.js") 
